<div class="content-wrapper">
    <section class="content-header m-2">
        <h1>
            Tutoriales
        </h1>
        <ol class="breadcrumb">
            <li><a href="Home"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Tutoriales</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group" style="float: left">
                                <label style="float: left ; text-align: center">Modulo de Inventario</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_inventario.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Menu Principal</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/inicio_principal.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Modulo de contactos</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_contactos.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Modulo de costos</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_costos.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Modulo de empresas</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_empresas.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Modulo de prospectos</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_prospectos.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Modulo de proveedores</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_proveedores.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12" style="float: left">
                                <label>Modulo de usuarios</label>
                                <video width="100%" height="360" controls>
                                    <source src="view/videos/modulo_usuarios.mp4" type="video/mp4">
                                    Tu navegador no soporta HTML5 video.
                              </video>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>