<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Administrar Eventos Estaticos
        </h1>
        <ol class="breadcrumb">
            <li><a href="Home"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li class="active">Administrar Eventos Estaticos</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                            <li>
                                    <a node="node-insertar-evento" style="cursor: pointer;" id="calendarAddBtn" name="productAddBtn" data-toggle="modal" data-target="#calendarPopUpAdd" onclick="ResetControls('containerinputs');SetData()">
                                            <i class="fa fa-plus-circle"></i> Agregar Evento al Calendario
                                        </a>
                                    </li>
                                    <li>
                                        <a style="cursor: pointer;" id="userAddBtn" name="userAddBtn" onclick="history.back();">
                                            <i class="fa fa-arrow-left"></i> Regresar
                                        </a>
                                    </li>
                        <li>
                            <a style="cursor: pointer;" id="userAddBtn" name="userAddBtn" onclick="location.href = 'Home' ">
                                <i class="fa fa-home"></i> Menu Principal
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="box-body">
                <table id="impostTbl" name="impostTbl" class="table table-bordered table-striped dt-responsive tables dataTable no-footer dtr-inline" style="width: 100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>fecha Inicial</th>
                            <th>fecha Final</th>
                            <th>usuario</th>
                            <th>horario</th>
                            <th>opciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
</div>
<!--=====================================
VENTANA MODAL AGREGAR PRODUCTO O MODIFICAR
======================================-->
<div node="node-insertar-evento" id="calendarPopUpAdd" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="calendarForm" role="form" method="post" enctype="multipart/form-data">
                    <!--=====================================
                  Hidden
                  ======================================-->
                    <input id="optionInputForm" name="optionInputForm" type="hidden" value="0">
                    <input id="idDataInputForm" name="idDataInputForm" type="hidden" value="0">
                    <input id="isActionFromAjax" name="isActionFromAjax" type="hidden" value="false">
                    <!--=====================================
                  CABEZA DEL MODAL
                  ======================================-->
                    <div class="modal-header" style="background:#3c8dbc; color:white">
                        <button type="button" class="close" data-dismiss="modal" data-target='#productPopUpAdd' onclick="ResetControls('productForm')">&times;</button>
                        <h4 class="modal-title">Agregar Evento Estatico</h4>
                    </div>
                    <!--=====================================
                  CUERPO DEL MODAL
                  ======================================-->
                    <div class="modal-body" id="containerinputs">
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span> {$listPerson}
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> {$fechaCtx}
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> {$fechaFinishCtx}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                                <div class='input-group date' id='datetimepicker3'>
                                                    {$hourInit}
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>    
                                            </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                                <div class='input-group date' id='datetimepicker4'>
                                                    {$hourFinish}
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </span>
                                                </div>    
                                            </div>
                                </div>
                            <div class="form-group">
                                <div class="input-group  col-xs-12">
                                    <textarea class="form-control" id="eventDescription" required rows="10" cols="10" name="eventDescription" placeholder="Nombre del evento a agregar."></textarea>
                                </div>
                            </div>
                            </div>
    
                        </div>
                    </div>
                    <!--=====================================
                  PIE DEL MODAL
                  ======================================-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-target='#productPopUpAdd' onclick="ResetControls('product2Form')">Salir</button>
                        <button type="submit" class="btn btn-primary" name="sendData">Guardar Producto</button>
                    </div>
    
                </form>
    
            </div>
        </div>
    </div>

<div id="containerResponseAjax"></div>
<link rel="stylesheet" href="view/bower_components/Monthly-master/css/monthly.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="view/bower_components/Monthly-master/js/monthly.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<script src="view/html/modules/modifyeventsstatics/ModifyEventsStatics.js?v= {$tempParameter}"></script>
{$jquery}